---
---

@import "{{ site.theme }}";

/* Theme customization */

header li {
  width: auto;
}

header {
  width: 218px;
}

@media print, screen and (max-width: 960px) {

  header ul {
    top: 63px;
  }

  header li {
    width: 218px;
  }

  header {
    width: auto;
  }

}

@media print, screen and (max-width: 720px) {

  header {
    margin-top: 0;
  }

  header li {
    width: auto;
  }

  body {
    padding: 0;
  }

}

@media print, screen and (max-width: 480px) {

  header li {
    width: auto;
  }

}
